.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-container {
  display: flex;
  flex-grow: 1;
  background-color: aquamarine;
  height: 48px;
}

.body-container {
  display: flex;
  flex-grow: 10;
  background-color: bisque;
}
.sub-header {
  font-size: 24px;
}

.web-logo {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}

.todo-container {
  background-color: #f7f7f7;
  box-shadow: 2px 2px rgba(226, 226, 226, 0.911);
}

.dropdown-filter {
  background-color: rgb(124, 177, 238);
  margin-left: 4px;
}
.dropdown-filter:hover {
  background-color: rgb(38, 132, 240);
}
.dropdown-item-each {
  margin: 16px;
  margin-left: 16px;
}
.dropdown-item-each:hover {
  cursor: default;
  background-color: aliceblue;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 8px;  
}

.todoList {
  background-color: whitesmoke;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.todoItem-each {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin: 4px;
  padding: 8px;
  /* justify-content: center; */
  align-items: center;
  /* background-color: aquamarine; */
}
.todo-checkbox {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  /* margin-bottom: 4px; */
  /* background-color: red; */
}
.todo-task {
  display: flex;
  flex-grow: 11;
  flex-direction: column;
  justify-content: flex-start;
}
.todo-task-done {
  display: flex;
  flex-grow: 11;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: line-through;
  color: #979797
  /* background-color: blue; */
}
.todo-task-title {
  display: flex;
  flex-grow: 1;
}
.todo-task-due {
  display: flex;
  flex-grow: 1;
  font-size: 12px;
  color: #6b6b6b;
}
.todo-edit {
  display: flex;
  flex-grow: 0.25;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}
.todo-del {
  display: flex;
  flex-grow: 0.25;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}
.addButton {
  display: flex;
  flex-direction: row;
  /* user-select: none;
  cursor: pointer; */
  /* background-color: lightblue; */
}
.addIcon {
  /* height: 16px;
  width: 16px; */
  display: flex;
  user-select: none;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 8px;
  margin-bottom: 16px;
}
.addText {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-style: italic;
}
.icon {
  height: 16px;
  width: 16px;
  user-select: none;
  cursor: pointer;
}
.edit-input {
  margin: 8px;
}
